@import "footer";
@import "parallax";
@import "responsive";
@import "header";
@import "generales";

$borde-imagen: 35px;

@for $i from 1 through 2 {
    .textoNew-#{$i} {
        font-size: 15px * $i;
        color: white;
        font-style: italic;
        text-align: center;
    }
}

@mixin paddG {
    padding: 25px;
    display: flex;
    flex-direction: row;
}

.paddingTB {
    padding: 50px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.moverimg{
    margin-top: 50px;
    background: orange;
}

.textmod{
    margin-top:50px;
}

.contenedorGrid {
    display: grid;
    width: 100%;
    grid-template-areas:
        "area1 area2 area3"
        "area4 area5 area6"
        "area7 area8 area9";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.imgcarta{
    cursor: pointer;
    transition: all ease-out 0.5s;
}

.imgcarta:hover{
    transform: scale(1.12);
}

.card-body{
    color: white;
}

.textSection {
    text-align: center;
}

.text-center ul li{
    list-style:none;
}

.mb-2 {
    margin-bottom: 90px !important;
    margin-top: 50px !important;
}

.sectionFlexHistoria {
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: #FFE5B6;
    transform: translate(0px, 75px);
    border-radius: 20px;
}

.sectionFlexHistoria2 {
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: #FFE5B6;
    transform: translate(0px, -100px);
    border-radius: 20px;
}

.historiaTitle {
    text-align: center;
}

.historiaP {
    text-align: center;
    margin: 50px;
}